@{
    Layout = null;
}
@model MvcMusicStore.Models.MessageModel
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div>
        <a name="diemdautrang">Điểm đầu trang</a><br>
        <a href="trang2.html#cuoitrang2">Nhảy đến cuối trang 2</a>
<pre>
	Cộng hòa xã hội chủ nghĩa Việt Nam
		Độc lập - Tự do - Hạnh phúc
</pre>
        Demo Page
        @Model.welcome <br />
        I'm @Model.age years old :))
        <p align="justify">
            <blink> CẦN NV LAO ĐỘNG PHỔ THÔNG NAM/NỮ CHẠY HÀNG ĐẾN CUỐI NĂM</blink><br>
            Hiện tại bên anh đang cần 10-15 bạn lao động phổ thông không cần kinh nghiệm chạy hàng bán hàng đến cuối năm. <br>
            <ol>
                <li><b>- Nam/nữ trên 18t </b></li>
                <br>
                <li>- Vui vẻ, nhiệt tình, hòa đồng </li>
                <br>
                <li>- Phù hợp mọi tầng lớp (sinh viên có thể làm part-time, xoay ca) </li>
                <br>
                <li><font face="Arial" color="red">- Tất cả các quận.</font></li>
                <br>
                <li>- TN 4-6tr</li>
                <br>
                <li>H<sub>2</sub>SO<sub>4</sub></li>
            </ol>
            <hr color="blue" size=1 width="1360" align="left">
            Bạn nào có nhu cầu LH 0126 73 72 719<br>
            A<sup>2</sup> + B<sup>2</sup> = C<sup>2</sup>
        </p>
        <a href="https://www.giacaphe.com" target="_blank" title="Bấm để xem giá cà phê">Xem giá cà phê</a> <br>
        <blink> hiệu ứng blink</blink> <br>
        <marquee bgcolor="blue" width="500px" height="30px" behavior="alternate" direction="right" hspace="10" vspace="20">Cặp thẻ Marquee</marquee> Bên phải <br>
        Bên dưới
<pre>
	





















        <a href="#diemdautrang">Quay về đầu trang</a>
</pre>
    </div>
</body>
</html>
